:root {
    --color-red: rgb(255, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(255, 94, 0);
    padding: 0.7rem;
    position:fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin-top: calc(0.8rem*2);
    padding: 3rem;
}

footer {
    background-color: rgb(25, 25, 25);
    padding: 2rem 0;
    color: #ffffff;
}

h3, h5 {
    padding-bottom: 0.5rem;
}

.container {
    width: 920px;
    margin: auto;
}

.list li {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    list-style: none;
}

.list li a {
    text-decoration: none;
    color: #ffffff;
}

.logo-img {
    width:100px;
}

.logo-img img {
    width: 100%;
}

.card-container {
    display: flex;
    column-gap: 0.5rem;
    row-gap: 2rem;
    flex-wrap: wrap;
}

.card {
    flex-grow: 1;
    position: relative;
}

.model-img{
    width: 300px;
}

.model-img img {
    width: 100%;
}

.img-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card:hover .img-hover {
    display: inline-block;
}

.discount-container {
    position: absolute;
    top: 24rem;
}

.box {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    font-size: 0.6rem;
    color: #ffffff;
}

.box-red {
    background-color: var(--color-red);
}

.box-green {
    background-color: rgb(0, 117, 0);
}

.price-red {
    display: inline-block;
    color: var(--color-red);
}

.price-decoration {
    display: inline-block;
    text-decoration: line-through;
}

.heart-container {
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 1rem;
    padding: 1rem;
}

.heart-container:hover {
    color: var(--color-red);
}

.row {
    display: flex;
    justify-content: space-between;
}

.list-foot li {
    display: inline-block;
    font-size: 0.9rem;
    list-style: none;
    padding-right: 0.5rem;
}

.list-foot li a {
    text-decoration: none;
    color: #ffffff;
}